<nav class="nav d-flex flex-row justify-content-between px-4">
    <a href="/">Templates</a>
    <ul>
      {{#each navBarMetadata as |navBar|}}
        {{#if navBar.isActive}}
          <li class="nav-item active">
            <a href="{{navBar.path}}">{{navBar.name}}</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="{{navBar.path}}">{{navBar.name}}</a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
</nav>
